# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

oa-api/target/
oa-biz/target/
oa-dao/target/
oa-persistence/target/
oa-service/target/
oa-schedule/target/
oa-ui/target/
oa-util/target/
oa-ui/dist/
oa-ui/node_modules/
oa-ui/package-lock.json
!/oa-ui/package-lock.json
