<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaofan.car.dao.repository.DeviceInfoMapper">

	<!--实体映射-->
	<resultMap id="BaseResultMap" type="com.xiaofan.car.persistence.model.DeviceInfo">
		<!---->
		<id property="id" column="id" />
		<!--巡检天数-->
		<result property="routingDays" column="routing_days" />
		<!--设备名称-->
		<result property="deviceName" column="device_name" />
		<!--区域-->
		<result property="area" column="area" />
		<!--位置-->
		<result property="location" column="location" />
		<!--开始时间-->
		<result property="fromDate" column="from_date" />
		<!--结束时间-->
		<result property="toDate" column="to_date" />
		<!--是否有效：1：是，0：无效-->
		<result property="deleteStatus" column="delete_status" />
		<!--创建时间-->
		<result property="createTime" column="create_time" />
		<!--更新时间-->
		<result property="updateTime" column="update_time" />
		<!--创建人id-->
		<result property="createUseId" column="create_use_id" />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
	id,	routing_days,	device_name,	area,	location,	from_date,	to_date,	delete_status,	create_time,	update_time,	create_use_id
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="selectByPrimaryKey" resultType="com.xiaofan.car.persistence.model.DeviceInfo" parameterType="java.lang.Integer">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM t_device_info
		 WHERE id = #{id}
	</select>


    <!--删除：根据主键ID删除-->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		 DELETE FROM t_device_info
		 WHERE id = #{id}
	</delete>
	<delete id="deleteDevice">
		UPDATE t_device_info
		SET delete_status = 0
		WHERE
			id = #{id}
	</delete>

	<!-- 添加 -->
	<insert id="insert" parameterType="com.xiaofan.car.persistence.model.DeviceInfo">
		 INSERT INTO t_device_info
 		(id,routing_days,device_name,area,location,from_date,to_date,delete_status,create_time,update_time,create_use_id) 
		 VALUES 
 		(#{id},#{routingDays},#{deviceName},#{area},#{location},#{fromDate},#{toDate},#{deleteStatus},#{createTime},#{updateTime},#{createUseId}) 
	</insert>

	<!-- 添加 （匹配有值的字段）-->
	<insert id="saveDevice" parameterType="com.xiaofan.car.persistence.model.DeviceInfo">
		 INSERT INTO t_device_info
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null">
				 id,
			</if>
			<if test="routingDays != null">
				 routing_days,
			</if>
			<if test="deviceName != null">
				 device_name,
			</if>
			<if test="area != null">
				 area,
			</if>
			<if test="location != null">
				 location,
			</if>
			<if test="fromDate != null">
				 from_date,
			</if>
			<if test="toDate != null">
				 to_date,
			</if>
			<if test="deleteStatus != null">
				 delete_status,
			</if>
			<if test="createTime != null">
				 create_time,
			</if>
			<if test="updateTime != null">
				 update_time,
			</if>
			<if test="createUseId != null">
				 create_use_id,
			</if>

		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id!=null">
				 #{id},
			</if>
			<if test="routingDays!=null">
				 #{routingDays},
			</if>
			<if test="deviceName!=null">
				 #{deviceName},
			</if>
			<if test="area!=null">
				 #{area},
			</if>
			<if test="location!=null">
				 #{location},
			</if>
			<if test="fromDate!=null">
				 #{fromDate},
			</if>
			<if test="toDate!=null">
				 #{toDate},
			</if>
			<if test="deleteStatus!=null">
				 #{deleteStatus},
			</if>
			<if test="createTime!=null">
				 #{createTime},
			</if>
			<if test="updateTime!=null">
				 #{updateTime},
			</if>
			<if test="createUseId!=null">
				 #{createUseId},
			</if>
		 </trim>
	</insert>

	<!-- 修 改-->
	<update id="updateByPrimaryKeySelective" parameterType="com.xiaofan.car.persistence.model.DeviceInfo">
		 UPDATE t_device_info
 		 <set> 
			<if test="routingDays != null">
				 routing_days = #{routingDays},
			</if>
			<if test="deviceName != null">
				 device_name = #{deviceName},
			</if>
			<if test="area != null">
				 area = #{area},
			</if>
			<if test="location != null">
				 location = #{location},
			</if>
			<if test="fromDate != null">
				 from_date = #{fromDate},
			</if>
			<if test="toDate != null">
				 to_date = #{toDate},
			</if>
			<if test="deleteStatus != null">
				 delete_status = #{deleteStatus},
			</if>
			<if test="createTime != null">
				 create_time = #{createTime},
			</if>
			<if test="updateTime != null">
				 update_time = #{updateTime},
			</if>
			<if test="createUseId != null">
				 create_use_id = #{createUseId},
			</if>

 		 </set>
		 WHERE id = #{id}
	</update>

	<!-- 修 改-->
	<update id="updateByPrimaryKey" parameterType="com.xiaofan.car.persistence.model.DeviceInfo">
		 UPDATE t_device_info
		 SET 
			 routing_days = #{routingDays},
			 device_name = #{deviceName},
			 area = #{area},
			 location = #{location},
			 from_date = #{fromDate},
			 to_date = #{toDate},
			 delete_status = #{deleteStatus},
			 create_time = #{createTime},
			 update_time = #{updateTime},
			 create_use_id = #{createUseId}
		 WHERE id = #{id}
	</update>

	<select id="selectDeviceList" resultType="com.xiaofan.car.persistence.vo.DeviceInfoVo">
		SELECT
			id,
			routing_days AS routingDays,
			device_name AS deviceName,
			area AS area,
			location AS location,
			DATE_FORMAT(from_date, '%Y-%m-%d') AS fromDate,
			DATE_FORMAT(to_date, '%Y-%m-%d') AS toDate
		FROM
			t_device_info
		WHERE
			delete_status=1 
			<if test="deviceName !=null and deviceName !=''">
				and device_name like CONCAT('%',#{deviceName},'%')
			</if>
	</select>
	<select id="selectDeviceById" resultType="com.xiaofan.car.persistence.vo.DeviceInfoVo">
		SELECT
			id,
			routing_days AS routingDays,
			device_name AS deviceName,
			area AS area,
			location AS location,
			DATE_FORMAT(from_date, '%Y-%m-%d') AS fromDate,
			DATE_FORMAT(to_date, '%Y-%m-%d') AS toDate
		FROM
			t_device_info
		WHERE
			delete_status=1
			and id = #{deviceId}
	</select>
</mapper>