<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaofan.car.dao.repository.LedgerInfoMapper">

	<!--实体映射-->
	<resultMap id="BaseResultMap" type="com.xiaofan.car.persistence.model.LedgerInfo">
		<!--自增主键-->
		<id property="id" column="id" />
		<!--设备编号-->
		<result property="deviceNo" column="device_No" />
		<!--录入人员-->
		<result property="createUser" column="create_User" />
		<!--创建时间-->
		<result property="createTime" column="create_Time" />
		<!--更新时间-->
		<result property="updateTime" column="update_Time" />
		<!--删除状态：1：正常状态，0：删除-->
		<result property="deleteStatus" column="delete_Status" />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
	id,	device_No,	create_User,	create_Time,	update_Time,	delete_Status
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="selectLedgerInfoById" resultType="com.xiaofan.car.persistence.model.LedgerInfo" parameterType="java.lang.Integer">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM t_ledger_info
		 WHERE id = #{id}
	</select>
	<!-- 查询（根据主键ID查询） -->
	<select id="selectLedgerInfosByLedgerInfo" resultMap="BaseResultMap" parameterType="com.xiaofan.car.persistence.model.LedgerInfo">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM t_ledger_info
		<where>
			<if test="id != null">
				ID = #{id}
			</if>
			<if test="deviceNo != null and deviceNo !=''">
				AND device_no = #{deviceNo}
			</if>
			<if test="createUser != null and createUser !=''">
				AND create_User like #{createUser}
			</if>
			<if test="createTime != null and createTime !=''">
				AND create_Time = #{createTime}
			</if>
			<if test="updateTime != null and updateTime !=''">
				AND update_Time = #{updateTime}
			</if>
			<if test="deleteStatus != null and deleteStatus != 0">
				AND delete_Status = #{deleteStatus}
			</if>
		</where>
	</select>

	<!--删除：根据主键ID删除-->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		 DELETE FROM t_ledger_info
		 WHERE id = #{id}
	</delete>


	<!-- 添加 （匹配有值的字段）-->
	<insert id="insertSelective" parameterType="com.xiaofan.car.persistence.model.LedgerInfo">
		 INSERT INTO t_ledger_info
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null">
				 id,
			</if>
			<if test="deviceNo != null">
				 device_No,
			</if>
			<if test="createUser != null">
				 create_User,
			</if>
			<if test="createTime != null">
				 create_Time,
			</if>
			<if test="updateTime != null">
				 update_Time,
			</if>
			<if test="deleteStatus != null">
				 delete_Status,
			</if>

		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id!=null">
				 #{id},
			</if>
			<if test="deviceNo!=null">
				 #{deviceNo},
			</if>
			<if test="createUser!=null">
				 #{createUser},
			</if>
			<if test="createTime!=null">
				 #{createTime},
			</if>
			<if test="updateTime!=null">
				 #{updateTime},
			</if>
			<if test="deleteStatus!=null">
				 #{deleteStatus},
			</if>
		 </trim>
	</insert>

</mapper>