<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaofan.car.dao.repository.ServiceInfoMapper">

	<!--实体映射-->
	<resultMap id="BaseResultMap" type="com.xiaofan.car.persistence.model.ServiceInfo">
		<!---->
		<id property="id" column="id" />
		<!--服务名称-->
		<result property="serviceName" column="service_name" />
		<!--关联的设备id-->
		<result property="deviceId" column="device_id" />
		<!--任务描述-->
		<result property="serviceDescription" column="service_description" />
		<!--属性一-->
		<result property="property1" column="property1" />
		<!--属性二-->
		<result property="property2" column="property2" />
		<!--属性三-->
		<result property="property3" column="property3" />
		<!--创建时间-->
		<result property="createTime" column="create_time" />
		<!--更新时间-->
		<result property="updateTime" column="update_time" />
		<!--属性四-->
		<result property="property4" column="property4" />
		<!--任务描述-->
		<result property="comment" column="comment" />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		id,	service_name,	device_id,	service_description,	property1,	property2,	property3,	create_time,	update_time,	property4,	comment
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="selectByPrimaryKey" resultType="com.xiaofan.car.persistence.model.ServiceInfo" parameterType="java.lang.Integer">
		SELECT
		<include refid="Base_Column_List" />
		FROM t_service_info
		WHERE id = #{id}
	</select>

	<!--删除：根据主键ID删除-->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		DELETE FROM t_service_info
		WHERE id = #{id}
	</delete>

	<!-- 添加 -->
	<insert id="insert" parameterType="com.xiaofan.car.persistence.model.ServiceInfo">
		INSERT INTO t_service_info
		(id,service_name,device_id,service_description,property1,property2,property3,create_time,update_time,property4,comment)
		VALUES
		(#{id},#{serviceName},#{deviceId},#{serviceDescription},#{property1},#{property2},#{property3},#{createTime},#{updateTime},#{property4},#{comment})
	</insert>

	<!-- 添加 （匹配有值的字段）-->
	<insert id="saveServiceInfo" parameterType="com.xiaofan.car.persistence.model.ServiceInfo">
		INSERT INTO t_service_info
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null">
				id,
			</if>
			<if test="serviceName != null">
				service_name,
			</if>
			<if test="deviceId != null">
				device_id,
			</if>
			<if test="serviceDescription != null">
				service_description,
			</if>
			<if test="property1 != null">
				property1,
			</if>
			<if test="property2 != null">
				property2,
			</if>
			<if test="property3 != null">
				property3,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="property4 != null">
				property4,
			</if>
			<if test="comment != null">
				comment,
			</if>

		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id!=null">
				#{id},
			</if>
			<if test="serviceName!=null">
				#{serviceName},
			</if>
			<if test="deviceId!=null">
				#{deviceId},
			</if>
			<if test="serviceDescription!=null">
				#{serviceDescription},
			</if>
			<if test="property1!=null">
				#{property1},
			</if>
			<if test="property2!=null">
				#{property2},
			</if>
			<if test="property3!=null">
				#{property3},
			</if>
			<if test="createTime!=null">
				#{createTime},
			</if>
			<if test="updateTime!=null">
				#{updateTime},
			</if>
			<if test="property4!=null">
				#{property4},
			</if>
			<if test="comment!=null">
				#{comment},
			</if>
		</trim>
	</insert>

	<!-- 修 改-->
	<update id="updateServiceInfo" parameterType="com.xiaofan.car.persistence.model.ServiceInfo">
		UPDATE t_service_info
		<set>
			<if test="serviceName != null">
				service_name = #{serviceName},
			</if>
			<if test="deviceId != null">
				device_id = #{deviceId},
			</if>
			<if test="serviceDescription != null">
				service_description = #{serviceDescription},
			</if>
			<if test="property1 != null">
				property1 = #{property1},
			</if>
			<if test="property2 != null">
				property2 = #{property2},
			</if>
			<if test="property3 != null">
				property3 = #{property3},
			</if>
			<if test="createTime != null">
				create_time = #{createTime},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime},
			</if>
			<if test="property4 != null">
				property4 = #{property4},
			</if>
			<if test="comment != null">
				comment = #{comment},
			</if>

		</set>
		WHERE id = #{id}
	</update>

	<!-- 修 改-->
	<update id="updateByPrimaryKey" parameterType="com.xiaofan.car.persistence.model.ServiceInfo">
		 UPDATE t_service_info
		 SET
			 service_name = #{serviceName},
			 device_id = #{deviceId},
			 service_description = #{serviceDescription},
			 property1 = #{property1},
			 property2 = #{property2},
			 property3 = #{property3},
			 create_time = #{createTime},
			 update_time = #{updateTime},
			 property4 = #{property4},
			 comment = #{comment}
		 WHERE id = #{id}
	</update>

	<select id="getServiceInfoList" resultType="com.xiaofan.car.persistence.vo.ServiceInfoVo">
	SELECT
		si.id,
		si.service_name as serviceName,
		di.device_name deviceName,
		si.property1,
		si.property2,
		si.property3,
		si.property4,
		si.service_description as serviceDescrible
	FROM
		t_service_info si
	LEFT JOIN t_device_info di ON si.device_id = di.id
	<where>
		<if test="deviceId!=null and deviceId !=''">
			si.device_id = #{deviceId}
		</if>
	</where>
	</select>
	<select id="getServiceDetail" resultType="com.xiaofan.car.persistence.vo.ServiceInfoVo">
		SELECT
			si.id,
			si.service_name as serviceName,
			si.property1,
			si.property2,
			si.property3,
			si.property4,
			si.service_description as serviceDescrible
		FROM
			t_service_info si
			where id = #{serviceId}
	</select>
</mapper>