<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaofan.car.dao.repository.VipLevelMapper">

	<!--实体映射-->
	<resultMap id="BaseResultMap" type="com.xiaofan.car.persistence.model.VipLevel">
		<!---->
		<id property="id" column="id" />
		<!--会员名称-->
		<result property="vipName" column="vip_name" />
		<!--折扣费率-->
		<result property="discountRate" column="discount_rate" />
		<!---->
		<result property="deleteStatus" column="delete_status" />
		<!--创建时间-->
		<result property="createTime" column="create_time" />
		<!--更新时间-->
		<result property="updateTime" column="update_time" />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
	id,	vip_name,	discount_rate,	delete_status,	create_time,	update_time
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="selectByPrimaryKey" resultType="com.xiaofan.car.persistence.model.VipLevel" parameterType="java.lang.Integer">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM t_vip_level
		 WHERE id = #{id}
	</select>

	<!--删除：根据主键ID删除-->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		 DELETE FROM t_vip_level
		 WHERE id = #{id}
	</delete>

	<!-- 添加 -->
	<insert id="insert" parameterType="com.xiaofan.car.persistence.model.VipLevel">
		 INSERT INTO t_vip_level
 		(id,vip_name,discount_rate,delete_status,create_time,update_time) 
		 VALUES 
 		(#{id},#{vipName},#{discountRate},#{deleteStatus},#{createTime},#{updateTime}) 
	</insert>

	<!-- 添加 （匹配有值的字段）-->
	<insert id="insertSelective" parameterType="com.xiaofan.car.persistence.model.VipLevel">
		 INSERT INTO t_vip_level
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null">
				 id,
			</if>
			<if test="vipName != null">
				 vip_name,
			</if>
			<if test="discountRate != null">
				 discount_rate,
			</if>
			<if test="deleteStatus != null">
				 delete_status,
			</if>
			<if test="createTime != null">
				 create_time,
			</if>
			<if test="updateTime != null">
				 update_time,
			</if>

		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id!=null">
				 #{id},
			</if>
			<if test="vipName!=null">
				 #{vipName},
			</if>
			<if test="discountRate!=null">
				 #{discountRate},
			</if>
			<if test="deleteStatus!=null">
				 #{deleteStatus},
			</if>
			<if test="createTime!=null">
				 #{createTime},
			</if>
			<if test="updateTime!=null">
				 #{updateTime},
			</if>
		 </trim>
	</insert>

	<!-- 修 改-->
	<update id="updateByPrimaryKeySelective" parameterType="com.xiaofan.car.persistence.model.VipLevel">
		 UPDATE t_vip_level
 		 <set> 
			<if test="vipName != null">
				 vip_name = #{vipName},
			</if>
			<if test="discountRate != null">
				 discount_rate = #{discountRate},
			</if>
			<if test="deleteStatus != null">
				 delete_status = #{deleteStatus},
			</if>
			<if test="createTime != null">
				 create_time = #{createTime},
			</if>
			<if test="updateTime != null">
				 update_time = #{updateTime},
			</if>

 		 </set>
		 WHERE id = #{id}
	</update>

	<!-- 修 改-->
	<update id="updateByPrimaryKey" parameterType="com.xiaofan.car.persistence.model.VipLevel">
		 UPDATE t_vip_level
		 SET 
			 vip_name = #{vipName},
			 discount_rate = #{discountRate},
			 delete_status = #{deleteStatus},
			 create_time = #{createTime},
			 update_time = #{updateTime}
		 WHERE id = #{id}
	</update>

</mapper>